.formRegister,
.formLogin,
.formEvent,
.helpGuide {
  margin-top: 30px;
  border: 2px solid rgb(13, 202, 238);
  padding: 40px 2% 10px;
  border-radius: 25px;
}

.formEvent {
  margin-bottom: 30px;
}
.form-control {
  margin-bottom: 20px;
}
.error {
  color: red;
}
.buttonBar {
  justify-content: right;
}
.eventButton {
  margin-right: 10px;
}
.cardEvent {
  background-color: rgb(204, 244, 252);
  box-shadow: 5px 5px 10px rgb(153, 233, 250);
  padding: 20px;
}

.addEventBtn {
  width: 60%;
  margin: 20px 20% 10px 20%;
}
.welcomeCard {
  justify-content: "center";
  background-color: rgb(204, 244, 252);
  box-shadow: 5px 5px 10px rgb(153, 233, 250);
}

.helpGuide {
  padding: 5% 10%;
}
